body {
  margin: 1.5em;
  font-family: "aileron", sans-serif;
  font-display: fallback;
  background-color: black;

  background: url("../images/intro_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}



.hero h1, p {
  margin: 1rem 1rem 0 3rem;
  position: relative;
  top: 16rem;

}

.hero h1 {
  color: white;
  font-size: 5.5rem;
}

.hero p {
  font-weight: bold;
  color: #9b9b9b;
  font-size: 1.15rem;
  letter-spacing: 0.25rem;
  font-weight: lighter;
}

.lan_button {
  display: flex;
  flex-direction: row ;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  margin: -13.5rem 0 0 4rem;
  position: relative;
  

}




.me, .studies, .skills, .contact {
  top: 100%;
}

.studies img {
  position: relative;
  width: 30%;
  height: 30%;
  top: 20rem;
}


.skills_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills_img {
  width: 15%;
  height: 15%;
  margin: 1rem;
  
}

p, h2, article {
  color: white;
}

.contact {
  color: white;
}

.contact a {
  color: white;
  text-decoration: none;
}