:root {
  --fs-xl: 5.5rem;
  --fs-600: 1.15rem;
  --fs-500: 1rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: "aileron", sans-serif;
  font-display: fallback;
  background-color: black;
}

.hero {
  background: url("../images/intro_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% 80%;
    ;
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
    top: 7rem;
      left: 4rem;
  width: 6rem;
  height: auto;
}

.hero h1, p {
  margin: 1rem 1rem 0 3rem;
  position: relative;
  top: 16rem;
}

.hero h1 {
  color: white;
  font-size: var(--fs-xl);
}

.hero p {
  font-weight: bold;
  color: #9b9b9b;
  font-size: var(--fs-600);
  letter-spacing: 0.25rem;
  font-weight: lighter;
}

.lan_button {
  display: flex;
  flex-direction: row ;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  position: absolute;
    top: 2rem;
    left: 3rem;
  }

@media (max-width: 40em) {
  :root {
    --fs-xl: 2.9rem;
    --fs-600: 1rem;
  }
}


.me, .studies, .skills, .contact {
  top: 100%;
}

.studies img {
  position: relative;
  width: 30%;
  height: 30%;
  top: 20rem;
}


.skills_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills_img {
  width: 15%;
  height: 15%;
  margin: 1rem;
  
}

p, h2, article {
  color: white;
}

.contact {
  color: white;
}

.contact a {
  color: white;
  text-decoration: none;
}