<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti a
        sequi tenetur quaerat dolore, ratione dolorem possimus animi enim non
        est totam, eius suscipit praesentium aliquid qui neque. Fugit, quas.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretch">Get started</a>
  </div>
</div>
